body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
}
h1{
    font-size: 50px;
}
.world{
    color: orange;
}
.flexible-container{
    display: flex;
    margin:;
}
.half-width{
    padding-left: 5%;
    width: 50%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;
    font-weight: 700;
    color: white;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.last-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.ajaira{
    width: 40%;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
  
}
#Abid{
    border-left: 7px solid  orange;
}
#Anik{
    border-left: 7px solid  blue;
}
footer p{
    text-align: center;
    font-style: italic;
}